
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
aside {
    width: 20em;
    text-align: center;
    margin: 10px;
    border: solid 1px #222;
    padding: 5px;
    background-color: darkslategray;
    color: #FFF;    
}
aside h2 {
    position: absolute;
    top: 330px;
    left: 80px;
}
aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: solid 1px #000;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: solid 1px rgba(2,2,2,.5);
    padding: 1rem;
    background-color: #BBB;
    color: #000;
}